/* override table width restrictions */
@media screen and (min-width: 767px) {
  table.formatted-table th,
  table.formatted-table td {
    /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
    white-space: normal !important;
    hyphens: auto;             /* nicer wrapping for prose */
  }

  table.formatted-table {
    overflow: visible !important;
  }

  .wy-table-responsive table.formatted-table td,
  .wy-table-responsive table.formatted-table th {
    white-space: normal;
  }
}
